@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Noto+Sans:wght@400;700&family=Nunito+Sans:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  height: 2rem;
  background: #0284c7;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav li {
  margin-right: 1rem;
  font-size: 1rem;
}

nav li:hover {
  text-decoration: underline;
  color: #bae6fd;
}

.title {
  font-size: 2rem;
  font-weight: 900;
}

footer {
  padding-top: 1rem;
  height: 2rem;
  background: #0284c7;
  color: #fff;
  text-align: center;
}

.content {
  flex: 1;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
}

.home {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.kh-logo {
  display: block;
  margin: 0 auto;
}
